{% extends 'base.html.twig' %}

{% block title %}Přehled nejlepších filmů{% endblock %}

{% block body %}
<h1 class="text-2xl mt-4 font-semibold">Uživatelé podle počtu hodnocení</h1>
<div class="bg-white mt-4 border rounded bg-white">
    {% for user in users %}
    <div class="{{ cycle(['bg-gray-100', ''], loop.index0) }} p-2 flex">
        <span class="flex-grow">
            {{ user.email }}
        </span>
        <span>
            {{ user.ratings.count }} hodnocení
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}
